name: Setup
runs:
  using: composite
  steps:
    - name: Rust cache
      uses: Swatinem/rust-cache@v2
    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: 24.11.0
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10.21.0