name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      RUST_LIB_BACKTRACE: 1
      TOKIO_WORKER_THREADS: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/workflows/setup
      - name: Run tests
        run: cargo test --features dev -- --test-threads=1
      - name: Run lints
        run: cargo clippy -- -D warnings
